/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root, * {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

:root {
  --accent-color:         #a6c307;
}

#page-wrapper {
  /* LIGHT THEME */
  --main-color:           #e3e4e2;
  --main-color-light:     #f7f7f7;
  --main-color-lightest:  #f1f1f1;
  --main-color-dark:      #777777;
  --main-color-darker:    #555555;
  --main-color-darkest:   #3f3f3f;
}

#theme-switch:checked + #page-wrapper {
  /* DARK THEME */
  --main-color:           #3f3f3f;
  --main-color-light:     #555555;
  --main-color-lightest:  #f7f7f7;
  --main-color-dark:      #111;
  --main-color-darker:    #ccc;
  --main-color-darkest:   #f1f1f1;
}

#theme-switch:checked + #page-wrapper #theme-switch-label {
  -webkit-box-shadow: inset -3px -3px 8px 0 var(--main-color-light), inset 3px 3px 8px 0 var(--main-color-dark);
          box-shadow: inset -3px -3px 8px 0 var(--main-color-light), inset 3px 3px 8px 0 var(--main-color-dark);
  color: var(--accent-color);
}

#theme-switch:checked + #page-wrapper #theme-switch-label::before {
  background: var(--accent-color);
}

#theme-switch:checked + #page-wrapper .card-embossing {
  color: var(--main-color-darkest);
  text-shadow: -2px 2px 4px var(--main-color-light), 1px -1px 2px var(--main-color-lightest);
}

#theme-switch:checked + #page-wrapper .card-back-cvv {
  color: var(--main-color-light);
}

#theme-switch:checked + #page-wrapper .neumorphic-btn {
  color: var(--accent-color);
}

#theme-switch, #theme-switch-label {
  position: absolute;
}

#theme-switch {
  top: -30px;
}

#theme-switch-label {
  font-size: 14px;
  bottom: 20px;
  right: 20px;
  padding-right: 30px;
}

@media only screen and (max-height: 710px) {
  #theme-switch-label {
    display: none;
  }
}

#theme-switch-label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--main-color-darkest);
  position: absolute;
  top: 10px;
  right: 10px;
}

#theme-switch-label::after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  top: 7px;
  right: 5px;
}

.neumorphic-container {
  background-color: var(--main-color);
  border-radius: 12px;
  padding: 20px;
  color: var(--main-color-darkest);
  -webkit-box-shadow: -10px -10px 20px 0 var(--main-color-light), 10px 10px 20px 0 var(--main-color-dark);
          box-shadow: -10px -10px 20px 0 var(--main-color-light), 10px 10px 20px 0 var(--main-color-dark);
}

@media only screen and (max-height: 800px) {
  .neumorphic-container {
    margin-bottom: 54px;
  }
}

.neumorphic-btn {
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 10px;
  color: var(--main-color-darkest);
  -webkit-box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
  font-weight: bold;
}

.neumorphic-btn a {
  color: inherit;
  text-decoration: none;
}

.neumorphic-btn a :hover {
  color: var(--accent-color);
}

#cc-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
}

#cc-form input, #cc-form label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#cc-form input, #cc-form select {
  font-size: 18px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 6px;
  height: 50px;
  line-height: 50px;
  outline: none;
  color: var(--main-color-darker);
  -webkit-box-shadow: inset -3px -3px 8px 0 var(--main-color-light), inset 3px 3px 8px 0 var(--main-color-dark);
          box-shadow: inset -3px -3px 8px 0 var(--main-color-light), inset 3px 3px 8px 0 var(--main-color-dark);
}

#cc-form select {
  padding-left: 16px;
  margin-right: 10px;
}

#cc-form label {
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0 10px;
  padding-left: 2px;
  color: var(--main-color-darkest);
}

#cc-form input {
  padding: 0 16px;
}

#cc-form ::-webkit-input-placeholder {
  opacity: 1;
  color: var(--main-color-darker);
}

#cc-form :-ms-input-placeholder {
  opacity: 1;
  color: var(--main-color-darker);
}

#cc-form ::-ms-input-placeholder {
  opacity: 1;
  color: var(--main-color-darker);
}

#cc-form ::placeholder {
  opacity: 1;
  color: var(--main-color-darker);
}

#cc-form #exp-date-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#cc-form #exp-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#cc-form #exp-year {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

#cc-form #card-cvv-label, #cc-form #card-cvv {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

#cc-form input#cta-btn {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  margin-top: 20px;
  color: var(--main-color-lightest);
  border-radius: 6px;
  -webkit-box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
}

.cc-preview-container {
  -webkit-box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--main-color-light), 3px 3px 8px 0 var(--main-color-dark);
  padding: 6px;
  border-radius: 6px;
  margin: 0 auto;
  color: var(--main-color-lightest);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 460px;
  height: 254px;
}

@media only screen and (max-width: 560px) {
  .cc-preview-container {
    width: 300px;
    height: 166px;
    margin: 20px auto;
  }
}

.cc-preview {
  border-radius: 6px;
  background-image: url("https://picsum.photos/420");
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 242px;
}

@media only screen and (max-width: 560px) {
  .cc-preview {
    height: 154px;
  }
}

.cc-preview.front {
  padding: 20px;
}

@media only screen and (max-width: 560px) {
  .cc-preview.front {
    padding: 10px;
  }
}

.pan {
  font-size: 40px;
  padding: 100px 3px 0;
  position: relative;
}

@media only screen and (max-width: 560px) {
  .pan {
    font-size: 26px;
    padding-top: 65px;
  }
}

.pan::before, .pan::after, .holder-name::before, .holder-name::after {
  display: block;
  background-image: url("../../img/image-sprite.png");
  background-size: 390px;
  width: 40px;
  height: 40px;
  position: absolute;
  content: '';
}

@media only screen and (max-width: 560px) {
  .pan::before, .pan::after, .holder-name::before, .holder-name::after {
    background-size: 254px;
    width: 26px;
    height: 26px;
  }
}

.pan::before {
  background-position: -348px -45px;
  top: 0;
  left: 5px;
}

@media only screen and (max-width: 560px) {
  .pan::before {
    background-position: -226px -30px;
  }
}

.pan::after {
  background-position: -298px -48px;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 560px) {
  .pan::after {
    background-position: -194px -30px;
  }
}

.holder-name::before {
  background-position: -240px -42px;
  top: -128px;
  left: 0;
  width: 50px;
}

@media only screen and (max-width: 560px) {
  .holder-name::before {
    background-position: -154px -28px;
    top: -84px;
    width: 36px;
  }
}

.holder-name::after {
  background-position: -100px -50px;
  bottom: 0;
  right: -155px;
  width: 110px;
}

@media only screen and (max-width: 560px) {
  .holder-name::after {
    background-position: -66px -33px;
    right: -100px;
    width: 70px;
  }
}

.card-front-box {
  text-align: right;
  width: 250px;
}

@media only screen and (max-width: 560px) {
  .card-front-box {
    width: 168px;
  }
}

.valid-label {
  font-size: 14px;
}

@media only screen and (max-width: 560px) {
  .valid-label {
    font-size: 10px;
  }
}

.holder-name {
  position: relative;
}

.holder-name, .valid-date {
  font-size: 22px;
}

@media only screen and (max-width: 560px) {
  .holder-name, .valid-date {
    font-size: 15px;
  }
}

.card-embossing {
  color: var(--main-color-lightest);
  text-shadow: -2px 2px 4px var(--main-color-darker), 1px -1px 2px var(--main-color-light);
}

.cc-preview.back {
  padding-top: 20px;
}

@media only screen and (max-width: 560px) {
  .cc-preview.back {
    padding-top: 10px;
  }
}

.card-back-black {
  width: 100%;
  height: 60px;
  background: black;
}

@media only screen and (max-width: 560px) {
  .card-back-black {
    height: 40px;
  }
}

.card-back-white {
  width: 80%;
  height: 40px;
  background: white;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
  border-radius: 2px;
  margin: 20px 0 0 20px;
}

@media only screen and (max-width: 560px) {
  .card-back-white {
    height: 26px;
    line-height: 26px;
    margin: 10px 0 0 10px;
    padding-right: 6px;
    font-size: 11px;
  }
}

.card-back-cvv {
  color: var(--main-color-darker);
}

body {
  background-color: var(--main-color);
}

::-moz-selection {
  background-color: var(--accent-color);
  color: var(--main-color-lightest);
}

::selection {
  background-color: var(--accent-color);
  color: var(--main-color-lightest);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#page-wrapper {
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  #page-wrapper {
    padding: 10px;
  }
}

.git-hub {
  position: absolute;
  top: 20px;
  right: 20px;
}
/*# sourceMappingURL=main.css.map */