/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root, * {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

:root {
  --main-lightness: 86%;
  --day-main-color:           hsl(80, 16%, var(--main-lightness) );
  --day-main-color-light:     hsl(80, 16%, calc(var(--main-lightness) + 10%) );
  --day-main-color-lightest:  hsl(80, 16%, calc(var(--main-lightness) + 14%) );
  --day-main-color-dark:      hsl(80, 16%, calc(var(--main-lightness) - 24%) );
  --day-main-color-darker:    hsl(80, 16%, calc(var(--main-lightness) - 40%) );
  --day-main-color-darkest:   hsl(80, 16%, calc(var(--main-lightness) - 54%) );
  --accent-lightness: 40%;
  --day-accent-color:    hsl(69, 93%, var(--accent-lightness) );
}

.neumorphic-card {
  background-color: var(--day-main-color);
  border-radius: 12px;
  padding: 40px;
  color: var(--day-main-color-darkest);
  -webkit-box-shadow: -10px -10px 20px 0 var(--day-main-color-light), 10px 10px 20px 0 var(--day-main-color-dark);
          box-shadow: -10px -10px 20px 0 var(--day-main-color-light), 10px 10px 20px 0 var(--day-main-color-dark);
}

#card-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
}

#card-form input, #card-form label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

#card-form input, #card-form select {
  font-size: 18px;
  border: 1px solid var(--day-main-color);
  background-color: var(--day-main-color);
  border-radius: 6px;
  height: 50px;
  line-height: 50px;
  outline: none;
  color: inherit;
  -webkit-box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
  -webkit-box-shadow: inset -3px -3px 8px 0 var(--day-main-color-light), inset 3px 3px 8px 0 var(--day-main-color-dark);
          box-shadow: inset -3px -3px 8px 0 var(--day-main-color-light), inset 3px 3px 8px 0 var(--day-main-color-dark);
}

#card-form select {
  padding-left: 16px;
  margin-right: 10px;
}

#card-form label {
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0 10px;
  padding-left: 2px;
}

#card-form label:first-of-type {
  margin-top: 0;
}

#card-form input {
  padding: 0 16px;
}

#card-form ::-webkit-input-placeholder {
  opacity: 1;
  color: var(--day-main-color-darker);
}

#card-form :-ms-input-placeholder {
  opacity: 1;
  color: var(--day-main-color-darker);
}

#card-form ::-ms-input-placeholder {
  opacity: 1;
  color: var(--day-main-color-darker);
}

#card-form ::placeholder {
  opacity: 1;
  color: var(--day-main-color-darker);
}

#card-form ::-moz-selection {
  background-color: var(--day-accent-color);
  color: var(--day-main-color-lightest);
}

#card-form ::selection {
  background-color: var(--day-accent-color);
  color: var(--day-main-color-lightest);
}

#card-form #exp-date-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#card-form #exp-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#card-form #exp-year {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

#card-form #card-cvv-label, #card-form #card-cvv {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

#card-form input#button {
  background-color: var(--day-accent-color);
  border-color: var(--day-accent-color);
  margin-top: 20px;
  color: var(--day-main-color-lightest);
  border-radius: 6px;
  -webkit-box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
}

#card-form .test {
  color: var(--day-main-color-darker);
}

.card-preview-container {
  -webkit-box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
          box-shadow: -3px -3px 8px 0 var(--day-main-color-light), 3px 3px 8px 0 var(--day-main-color-dark);
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 20px;
  color: var(--day-main-color-lightest);
}

.card-preview {
  border-radius: 6px;
  background-image: url("https://picsum.photos/400/254");
  background-size: cover;
  min-height: 254px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-preview.front {
  padding: 20px;
}

.pan {
  font-size: 40px;
  padding: 0 3px;
  position: relative;
  padding-top: 114px;
}

.pan::before, .pan::after, .holder-name::before, .holder-name::after {
  display: block;
  background-image: url("../../img/image-sprite.png");
  background-size: 390px;
  width: 40px;
  height: 40px;
  position: absolute;
  content: '';
}

.pan::before {
  background-position: -348px -45px;
  background-size: 390px;
  top: 0;
  left: 5px;
}

.pan::after {
  background-position: -298px -48px;
  background-size: 390px;
  top: 0;
  right: 0;
}

.holder-name::before {
  background-position: -240px -42px;
  background-size: 390px;
  top: -128px;
  left: 0;
  width: 50px;
}

.holder-name::after {
  background-position: -100px -50px;
  background-size: 390px;
  bottom: 0;
  right: -155px;
  width: 110px;
}

.card-front-box {
  text-align: right;
  width: 250px;
}

.valid-label {
  font-size: 14px;
}

.holder-name {
  position: relative;
}

.holder-name, .valid-date {
  font-size: 22px;
}

.card-embossing {
  /* embossing effect */
}

.card-preview.back {
  padding-top: 20px;
}

.card-back-black {
  width: 100%;
  height: 60px;
  background: black;
}

.card-back-white {
  width: 80%;
  height: 40px;
  background: white;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
  border-radius: 2px;
  margin: 20px 0 0 20px;
}

body {
  background-color: var(--day-main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */