body {
    background-color: var(--main-color);
}

::selection { 
    background-color: var(--accent-color);
    color: var(--main-color-lightest);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#page-wrapper {
    background-color: var(--main-color);
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
    box-sizing: border-box;

    @media only screen and (max-width: 500px) {
        padding: 10px; 
    }

}

.git-hub {
    position: absolute;
    top: 20px;
    right: 20px;
}