.card {
    background-color: var(--day-main-color);
    border-radius: 12px;
    box-shadow: -6px -6px 16px 0 var(--day-main-color-light),
                6px 6px 16px 0 var(--day-main-color-dark);
    padding: 20px;
    color: var(--day-accent-color);
}