#cc-form {
    display: grid;
    grid-template-columns: 33% 34% 33%;

    input, label {
        grid-column: 1 / 4;
    }

    input, select {
        font-size: 18px;
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        border-radius: 6px;
        height: 50px;
        line-height: 50px;
        outline: none;
        color: var(--main-color-darker);
        @include shadows-int(3px, 8px);
    }

    select {
        padding-left: 16px;
        margin-right: 10px;
    }

    label {
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0 10px;
        padding-left: 2px;
        color: var(--main-color-darkest);
    }

    input {
        padding: 0 16px;
    }  

    ::placeholder{
        opacity: 1;
        color: var(--main-color-darker);
    }

    #exp-date-label {
        grid-column: 1 / 3;
    }
    #exp-date {
        grid-column: 1 / 2;
    }
    
    #exp-year {
        grid-column: 2 / 3;
    }
    
    #card-cvv-label, #card-cvv {
        grid-column: 3 / 4;
    }
    
    input#cta-btn {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        margin-top: 20px;
        color: var(--main-color-lightest);
        border-radius: 6px;
        @include shadows-ext(3px, 8px);
    }
}