.cc-preview-container {
    @include shadows-ext(3px, 8px);
    padding: 6px;
    border-radius: 6px;
    margin: 0 auto;
    color: var(--main-color-lightest);
    box-sizing: border-box;
    width: 460px;
    height: 254px;
    
    @media only screen and (max-width: 560px) {
        width: 300px;
        height: 166px;
        margin: 20px auto;
    } 
}

.cc-preview {
    border-radius: 6px;
    background-image: url('https://picsum.photos/420');
    background-size: cover;
    box-sizing: border-box;
    height: 242px;

    @media only screen and (max-width: 560px) {
        height: 154px;
    } 
}

.cc-preview.front {
    padding: 20px;

    @media only screen and (max-width: 560px) {
        padding: 10px;
    }
}

.pan {
    font-size: 40px;
    padding: 100px 3px 0;
    position: relative;

    @media only screen and (max-width: 560px) {
        font-size: 26px;
        padding-top: 65px;
    }
}

.pan::before, .pan::after, .holder-name::before, .holder-name::after {
    display: block;
    background-image: url('../../img/image-sprite.png');
    background-size: 390px;
    @include square(40px);
    position: absolute;
    content: '';

    @media only screen and (max-width: 560px) {
        background-size: 254px;
        @include square(26px);
    }
}

.pan::before {
    background-position: -348px -45px;
    top: 0;
    left: 5px;

    @media only screen and (max-width: 560px) {
        background-position: -226px -30px;
    }
}

.pan::after {
    background-position: -298px -48px;
    top: 0;
    right: 0;

    @media only screen and (max-width: 560px) {
        background-position: -194px -30px;
    }
}

.holder-name::before {
    background-position: -240px -42px;
    top: -128px;
    left: 0;
    width: 50px;

    @media only screen and (max-width: 560px) {
        background-position: -154px -28px;
        top: -84px;
        width: 36px;
    }
}

.holder-name::after {
    background-position: -100px -50px;
    bottom: 0;
    right: -155px;
    width: 110px;

    @media only screen and (max-width: 560px) {
        background-position: -66px -33px;
        right: -100px;
        width: 70px;
    }
}

.card-front-box {
    text-align: right;
    width: 250px;

    @media only screen and (max-width: 560px) {
        width: 168px;
    }
}

.valid-label {
    font-size: 14px;

    @media only screen and (max-width: 560px) {
        font-size: 10px;
    }
}

.holder-name {
    position: relative;
}

.holder-name, .valid-date {
    font-size: 22px;
    
    @media only screen and (max-width: 560px) {
        font-size: 15px;
    }
}

.card-embossing {
    color: var(--main-color-lightest);
    text-shadow: -2px 2px 4px var(--main-color-darker), 
                  1px -1px 2px var(--main-color-light);
}

.cc-preview.back {
    padding-top: 20px;
    @media only screen and (max-width: 560px) {
        padding-top: 10px;
    }
}


.card-back-black {
    width: 100%;
    height: 60px;
    background: black;
    
    @media only screen and (max-width: 560px) {
        height: 40px;
    }
}

.card-back-white {
    width: 80%; 
    height: 40px;
    background: white;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
    border-radius: 2px;
    margin: 20px 0 0 20px;

    @media only screen and (max-width: 560px) {
        height: 26px;
        line-height: 26px;
        margin: 10px 0 0 10px;
        padding-right: 6px;
        font-size: 11px;
    }
}

.card-back-cvv {
    color: var(--main-color-darker);
}