:root {
    // NIGHT SCHEME:
    // --day-main-color:           #3f3f3f; // PayU official
    // --day-main-color-light:     #555555; // PayU official
    // --day-main-color-lightest:  #f7f7f7; 
    // --day-main-color-dark:      #111; // PayU official
    // --day-main-color-darker:    #eee; 
    // --day-main-color-darkest:   #aaa; // PayU official
    // --day-accent-color:         #a6c307; // PayU official Lime Green

    --day-main-color:           #e3e4e2; // PayU official
    --day-main-color-light:     #f7f7f7; // PayU official
    --day-main-color-lightest:  #f1f1f1; 
    --day-main-color-dark:      #777777; // PayU official
    --day-main-color-darker:    #555555; 
    --day-main-color-darkest:   #3f3f3f; // PayU official
    --day-accent-color:         #a6c307; // PayU official Lime Green

} 