:root {
    --main-lightness: 86%;

    --day-main-color:           hsl(80, 16%, var(--main-lightness) );
    --day-main-color-light:     hsl(80, 16%, calc(var(--main-lightness) + 6%) );
    --day-main-color-dark:      hsl(80, 16%, calc(var(--main-lightness) - 12%) );
    --day-main-color-darker:    hsl(80, 16%, calc(var(--main-lightness) - 32%) );
    --day-main-color-darkest:   hsl(80, 16%, calc(var(--main-lightness) - 52%) );

    --accent-lightness: 40%; 

    --day-accent-color:    hsl(69, 93%, var(--accent-lightness) );
}